<!DOCTYPE html>
<html lang="en">

<head>
  <title>Edit Page</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/header.css" type="text/css" />
  <link rel="stylesheet" href="/styles/list-main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
  <link rel="stylesheet" href="/styles/parent.css" type="text/css" />
  <link rel="stylesheet" href="/styles/register.css" type="text/css" />
  <link rel="stylesheet" href="/styles/edit.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gugi&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/dbd661c41c.js" crossorigin="anonymous"></script>
</head>

<body>
  <container class="parent">
   <nav>
      <span class="nav-span">
          <div class="tittle">ToDo</div>
          <br>
      </span>
    </nav>
    <header class="edit-header">
          <form method="POST" action="/updatetask" class="edit-form">
            <label>
              <textarea class="task">Example Task</textarea>
            </label>
            <button class="edit-button" type="submit">
              <i class="fa-solid fa-floppy-disk"></i>
            </button>
          </form>
    </header>
  </container>
</body>
