<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> origin/api-feature
  <link rel="stylesheet" href="/styles/header.css" type="text/css" />
  <link rel="stylesheet" href="/styles/list-main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
  <link rel="stylesheet" href="/styles/parent.css" type="text/css" />
<<<<<<< HEAD
=======
=======
<link rel="stylesheet" href="/styles/header.css" type="text/css" />
<link rel="stylesheet" href="/styles/list-main.css" type="text/css" />
<link rel="stylesheet" href="/styles/nav.css" type="text/css" />
<link rel="stylesheet" href="/styles/parent.css" type="text/css" />
>>>>>>> origin/first-page-html
>>>>>>> origin/api-feature

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>

  <link rel="preconnect" href="https://fonts.googleapis.com">
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> origin/api-feature
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gugi&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/dbd661c41c.js" crossorigin="anonymous"></script>
<<<<<<< HEAD
=======
=======
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">

>>>>>>> origin/first-page-html
>>>>>>> origin/api-feature
</head>

<body>
  <container class="parent">
   <nav>
      <span class="nav-span">
          <div class="tittle">ToDo</div>
          <br>
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> origin/api-feature
        <section class="nav-buttons">
          <form method="POST" action="/login" class="login">
            <label>
              email
              <input class="email-input" type="email" name="Email" />
            </label>
            <label>
              password
              <input class="password-input" type="password" name="password" />
            </label>
            <button type="submit" class="login-button">Login</button>
          </form>
          <button class="register-button">Register</button>
<<<<<<< HEAD
=======
=======
        <section class="Nav-Buttons">
          <a href="#">Login</a>
          <a href="#">Register</a>
>>>>>>> origin/first-page-html
>>>>>>> origin/api-feature
        </section>
      </span>
    </nav>

    <header class="search-main">
      <textarea class="search">New ToDo?</textarea>
      <textarea class="search">Which ToDo?</textarea>
    </header>

    <container class="list-main">
      <section class="list">
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> origin/api-feature
          <h1 class="catagory-name">ToDo's</h1>
        <section class="list-actual">
          <span class="task">Task</span>
          <span class="category">Category</span>
          <button class="edit-button">
            <i class="fa-solid fa-pen-to-square"></i>
          </button>
          <button class="delete-button">
            <i class="fa-solid fa-trash"></i>
          </button>
        </section>
        <section class="list-actual">
          <span class="task">Task</span>
          <span class="category">Category</span>
          <button class="edit-button">
            <i class="fa-solid fa-pen-to-square"></i>
          </button>
          <button class="delete-button">
            <i class="fa-solid fa-trash"></i>
          </button>
        </section>
        <section class="list-actual">
          <span class="task">Task</span>
          <span class="category">Category</span>
          <button class="edit-button">
            <i class="fa-solid fa-pen-to-square"></i>
          </button>
          <button class="delete-button">
            <i class="fa-solid fa-trash"></i>
          </button>
        </section>
        <section class="list-actual">
          <span class="task">Task</span>
          <span class="category">Category</span>
          <button class="edit-button">
            <i class="fa-solid fa-pen-to-square"></i>
          </button>
          <button class="delete-button">
            <i class="fa-solid fa-trash"></i>
          </button>
        </section>
        <section class="list-actual">
          <span class="task">Task</span>
          <span class="category">Category</span>
          <button class="edit-button">
            <i class="fa-solid fa-pen-to-square"></i>
          </button>
          <button class="delete-button">
            <i class="fa-solid fa-trash"></i>
          </button>
        </section>
        <section class="list-actual">
          <span class="task">Task</span>
          <span class="category">Category</span>
          <button class="edit-button">
            <i class="fa-solid fa-pen-to-square"></i>
          </button>
          <button class="delete-button">
            <i class="fa-solid fa-trash"></i>
          </button>
        </section>
        <section class="list-actual">
          <span class="task">Task</span>
          <span class="category">Category</span>
          <button class="edit-button">
            <i class="fa-solid fa-pen-to-square"></i>
          </button>
          <button class="delete-button">
            <i class="fa-solid fa-trash"></i>
          </button>
        </section>
        <section class="list-actual">
          <span class="task">Task</span>
          <span class="category">Category</span>
          <button class="edit-button">
            <i class="fa-solid fa-pen-to-square"></i>
          </button>
          <button class="delete-button">
            <i class="fa-solid fa-trash"></i>
          </button>
        </section>
        <section class="list-actual">
          <span class="task">Task</span>
          <span class="category">Category</span>
          <button class="edit-button">
            <i class="fa-solid fa-pen-to-square"></i>
          </button>
          <button class="delete-button">
            <i class="fa-solid fa-trash"></i>
          </button>
        </section>
        <section class="list-actual">
          <span class="task">Task</span>
          <span class="category">Category</span>
          <button class="edit-button">
            <i class="fa-solid fa-pen-to-square"></i>
          </button>
          <button class="delete-button">
            <i class="fa-solid fa-trash"></i>
          </button>
        </section>
        <section class="list-actual">
          <span class="task">Task</span>
          <span class="category">Category</span>
          <button class="edit-button">
            <i class="fa-solid fa-pen-to-square"></i>
          </button>
          <button class="delete-button">
            <i class="fa-solid fa-trash"></i>
          </button>
        </section>
        <section class="list-actual">
          <span class="task">Task</span>
          <span class="category">Category</span>
          <button class="edit-button">
            <i class="fa-solid fa-pen-to-square"></i>
          </button>
          <button class="delete-button">
            <i class="fa-solid fa-trash"></i>
          </button>
        </section>
<<<<<<< HEAD
=======
=======
        <h1>Restaurants</h1>
        <ul>Example</ul>
        <ul>Example</ul>
        <ul>Example</ul>
        <ul>Example</ul>
        <ul>Example</ul>
        <ul>Example</ul>
        <ul>Example</ul>
      </section>
      <section class="list">
        <h1>Films</h1>
        <ul>Example</ul>
        <ul>Example</ul>
        <ul>Example</ul>
        <ul>Example</ul>
        <ul>Example</ul>
        <ul>Example</ul>
        <ul>Example</ul>
      </section>
      <section class="list">
        <h1>Books</h1>
        <ul>Example</ul>
        <ul>Example</ul>
        <ul>Example</ul>
        <ul>Example</ul>
        <ul>Example</ul>
        <ul>Example</ul>
        <ul>Example</ul>
      </section>
      <section class="list">
        <h1>Products</h1>
        <ul>Example</ul>
        <ul>Example</ul>
        <ul>Example</ul>
        <ul>Example</ul>
        <ul>Example</ul>
        <ul>Example</ul>
        <ul>Example</ul>
>>>>>>> origin/first-page-html
>>>>>>> origin/api-feature
      </section>
    </container>
  </container>
</body>

</html>
