<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/header.css" type="text/css" />
  <link rel="stylesheet" href="/styles/list-main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
  <link rel="stylesheet" href="/styles/parent.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gugi&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/dbd661c41c.js" crossorigin="anonymous"></script>
</head>

<body>
  <container class="parent">
   <nav>
      <span class="nav-span">
          <div class="tittle">ToDo</div>
          <br>
        <section class="nav-buttons">
          <form method="POST" action="/login" class="login">
            <label>
              email
              <input class="email-input" type="email" name="email" />
            </label>
            <label>
              password
              <input class="password-input" type="password" name="password" />
            </label>
            <button type="submit" class="login-button">Login</button>
          </form>
          <form method="GET" action="/register">
            <button class="register-button">Register</button>
          </form>
        </section>
      </span>
    </nav>

    <header class="search-main">
      <!-- <textarea class="search">New ToDo?</textarea>
      <textarea class="search">Which ToDo?</textarea> -->
      <form class="search-task" method="GET" action="/">
        <label class="search-label">
          <input class="search-input" type="search" name="search" />
          <button class="search-button" type="submit">Search</button>
        </label>
      </form>
      <form class="add-task" method="POST" action="/add">
        <label class="add-label">
          <input class="add-input" type="add" name="add" />
          <button class="add-button" type="submit">Create</button>
        </label>
      </form>
    </header>

    <container class="list-main">
      <section class="list">
          <h1 class="catagory-name">ToDo's</h1>
        <section class="list-actual">
          <span class="task">Task</span>
          <span class="category">Category</span>
          <form method="GET" action="/edit" class="edit">
            <button class="edit-button" type="submit">
              <i class="fa-solid fa-pen-to-square"></i>
            </button>
          </form>
          <form method="POST" action="/delete" class="delete">
            <button class="delete-button" type="submit">
              <i class="fa-solid fa-trash"></i>
            </button>
          </form>
        </section>
    </container>
  </container>
</body>

</html>
