.edit-form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 25vw;
}

.edit-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.task {
  background-color: transparent;
  font-size: 20px;
  color: #00ff3c;
  border-color: transparent;
  border: 3.5px solid #00ff3c

}
